# Data


- ID                             : Número identificador del cliente
- CHECKING_BALANCE               : Saldo que posee el cliente en su cuenta corriente
- PAYMENT_TERM                   : Cantidad de días que el cvliente posee para pagar el préstamo
- CREDIT_HISTORY                 : Situación crediticia pasada del cliente
- LOAN_PURPOSE                   : Motivo del préstamo
- LOAN_AMOUNT                    : Monto del préstamo
- EXISTING_SAVINGS               : Saldo de cuenta de ahorros
- EMPLOYMENT_DURATION            : Cuántos años ha permanecido el cliente en su empleo
- INSTALLMENT_PERCENT            : Cantidad de cuotas en las que el préstamo debe ser pagado
- SEX                            : Sexo del cliente
- OTHERS_ON_LOAN                 : Denota la existencia de un garante u otro solicitante del préstamo
- CURRENT_RESIDENCE_DURATION     : Años que el cliente ha permanecido en su última residencia
- PROPERTY                       : Indica si el cliente posee alguna propiedad a su nombre
- AGE                            : Edad del cliente
- INSTALLMENT_PLANS              : Plan de financiamiento, que puede ser del banco, externo o ninguno
- HOUSING                        : Indica si el cliente posee una casa propia
- EXISTING_CREDITS_COUNT         : Número de préstamos que le han sido concedidos al cliente en el pasado
- JOB_TYPE                       : Tipo de empleo: 0 - desempleado, 1 - no calificado, 2 - autónomo, 3 - calificado
- DEPENDENTS                     : Número de personas con acceso a la cuenta
- TELEPHONE                      : Denota si el cliente tiene un número de teléfono registrado
- FOREIGN_WORKER                   Denot: si el cliente trabaja en un país fuera del banco

In [ ]:
import pandas as pds

In [ ]:
acc = pds.read_csv("/content/ACCOUNTS.csv")
dem = pds.read_csv("/content/DEMOGRAPHICS.csv")
loa = pds.read_csv("/content/LOANS.csv")

In [ ]:
# acc

In [ ]:
s1 = pds.merge(acc, dem, on = "ID", how = 'outer')
full = pds.merge(s1, loa, on = "ID", how = 'outer')

In [ ]:
# full

## CLEAN DATA

--- factor in python

- checking_balance
- existing_savings
- sex(F = 1, M = 0)

In [ ]:
import numpy as np

In [ ]:
#full['SEX'] = pds.Series(full['SEX']).str.replace("F", "1")
#full['SEX'] = pds.Series(full['SEX']).str.replace("M", "0").astype(float)
#full['SEX']

In [ ]:
full['CHECKING_BALANCE'] = pds.to_numeric(full['CHECKING_BALANCE'], errors='coerce')
full['EXISTING_SAVINGS'] = pds.to_numeric(full['EXISTING_SAVINGS'], errors='coerce')

### Nas

- Mediana: 
  - age, 
  - payment_term, 
  - installment_percent
- 0: 
  - checking_balance, 
  - existing_savings, 
  - existing_credits_count, 
  - {job_type}, 
  - dependents, 
  - telephone, 
  - foreing_worker, 
  - employment_duration, 
  - current_residence_duration, 
- string {ausencia}: 
  - credit_history -> NO_CREDITS
  - property -> UNKNOWN 
  - housing, -> FREE
  - installemnt_plans, -> NONE
  - others_on_loan -> NONE
- drop_na: 
  - sex, 
  - loan_amount
  - loan_purpose
  - allow

In [ ]:
mediana = ['AGE', 'PAYMENT_TERM', 'INSTALLMENT_PERCENT']
adicional = [
             'CHECKING_BALANCE'
              , 'EXISTING_SAVINGS'
              , 'EXISTING_CREDITS_COUNT'
              , 'JOB_TYPE'
              , 'DEPENDENTS'
              , 'TELEPHONE'
              , 'FOREING_WORKER'
              , 'EMPLOYMENT_DURATION'
              , 'CURRENT_RESIDENCE_DURATION'
              , 'CREDIT_HISTORY'
              , 'PROPERTY'
              , 'INSTALLMENT_PLANS'
              , 'OTHERS_ON_LOAN'
]
x_drop = ['SEX', 'LOAN_AMOUNT', 'LOAN_PURPOSE']
y = ['ALLOW']

full.fillna(
    value = {
        'CHECKING_BALANCE': 0
        , 'EXISTING_SAVINGS': 0
        , 'EXISTING_CREDITS_COUNT': 0
        , 'JOB_TYPE': 0  #####
        , 'DEPENDENTS': 0
        , 'TELEPHONE': 0
        , 'FOREING_WORKER': "0" 
        , 'EMPLOYMENT_DURATION': 0 
        , 'CURRENT_RESIDENCE_DURATION': 0 
        , 'CREDIT_HISTORY': 'NO_CREDITS'
        , 'PROPERTY': 'UNKNOWN'
        , 'HOUSING': 'FREE'
        , 'INSTALLMENT_PLANS': 'NONE'
        , 'OTHERS_ON_LOAN': 'NONE'
    }
    , inplace = True
)
full[mediana] = full[mediana].fillna(full[mediana].median())
full['FOREIGN_WORKER'].fillna(0, inplace = True)

In [ ]:
full.isnull().sum()

ID                             0
CHECKING_BALANCE               0
CREDIT_HISTORY                 0
EXISTING_SAVINGS               0
EXISTING_CREDITS_COUNT         0
SEX                           79
AGE                            0
JOB_TYPE                       0
DEPENDENTS                     0
TELEPHONE                      0
FOREIGN_WORKER                 0
EMPLOYMENT_DURATION            0
PROPERTY                       0
HOUSING                        0
CURRENT_RESIDENCE_DURATION     0
PAYMENT_TERM                   0
INSTALLMENT_PLANS              0
INSTALLMENT_PERCENT            0
LOAN_PURPOSE                  20
LOAN_AMOUNT                   18
OTHERS_ON_LOAN                 0
ALLOW                          0
dtype: int64

In [ ]:
full = full.dropna()
full

           ID  CHECKING_BALANCE  ... OTHERS_ON_LOAN  ALLOW
0      291655           -566.53  ...           NONE      1
1      657079          -1673.16  ...           NONE      1
2      256050              0.00  ...           NONE      0
3     1039151          -1471.03  ...           NONE      1
4     1002660              0.00  ...           NONE      1
...       ...               ...  ...            ...    ...
3931   582945              0.00  ...           NONE      0
3932   213735              0.00  ...           NONE      1
3933   988697              0.00  ...           NONE      1
3934   337934              0.00  ...           NONE      1
3935   676562              0.00  ...   CO-APPLICANT      1

[3883 rows x 22 columns]

In [ ]:
full.isna().sum()

ID                            0
CHECKING_BALANCE              0
CREDIT_HISTORY                0
EXISTING_SAVINGS              0
EXISTING_CREDITS_COUNT        0
SEX                           0
AGE                           0
JOB_TYPE                      0
DEPENDENTS                    0
TELEPHONE                     0
FOREIGN_WORKER                0
EMPLOYMENT_DURATION           0
PROPERTY                      0
HOUSING                       0
CURRENT_RESIDENCE_DURATION    0
PAYMENT_TERM                  0
INSTALLMENT_PLANS             0
INSTALLMENT_PERCENT           0
LOAN_PURPOSE                  0
LOAN_AMOUNT                   0
OTHERS_ON_LOAN                0
ALLOW                         0
dtype: int64

In [ ]:
features = [
  "CHECKING_BALANCE",               # Saldo que posee el cliente en su cuenta corriente
  "PAYMENT_TERM",                   # Cantidad de días que el cvliente posee para pagar el préstamo
  "CREDIT_HISTORY",                 # Situación crediticia pasada del cliente
  "LOAN_PURPOSE",                   # Motivo del préstamo
  "LOAN_AMOUNT",                    # Monto del préstamo
  "EXISTING_SAVINGS",               # Saldo de cuenta de ahorros
  "EMPLOYMENT_DURATION",            # Cuántos años ha permanecido el cliente en su empleo
  "INSTALLMENT_PERCENT",            # Cantidad de cuotas en las que el préstamo debe ser pagado
  "SEX",                            # Sexo del cliente
  "OTHERS_ON_LOAN",                 # Denota la existencia de un garante u otro solicitante del préstamo
  "CURRENT_RESIDENCE_DURATION",     # Años que el cliente ha permanecido en su última residencia
  "PROPERTY",                       # Indica si el cliente posee alguna propiedad a su nombre
  "AGE",                            # Edad del cliente
  "INSTALLMENT_PLANS",              # Plan de financiamiento, que puede ser del banco, externo o ninguno
  "HOUSING",                        # Indica si el cliente posee una casa propia
  "EXISTING_CREDITS_COUNT",         # Número de préstamos que le han sido concedidos al cliente en el pasado
  "JOB_TYPE",                       # Tipo de empleo: 0 - desempleado, 1 - no calificado, 2 - autónomo, 3 - calificado
  "DEPENDENTS",                     # Número de personas con acceso a la cuenta
  "TELEPHONE",                      # Denota si el cliente tiene un número de teléfono registrado
  "FOREIGN_WORKER"                  # Denota si el cliente trabaja en un país fuera del banco
]
target = ['ALLOW']

In [ ]:
x =  pds.get_dummies(full[features])
y = full[target]

# split model

In [ ]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier 
from sklearn.naive_bayes import GaussianNB 
from sklearn.linear_model import SGDClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.45, random_state = 23)

### preprocesamiento

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

### TREE

In [ ]:
tr_model = DecisionTreeClassifier(max_depth=2)
tr_model.fit(x_train, y_train)

y_pred = tr_model.predict(x_test)

f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

acc: 0.7294050343249427
f1: 0.8225140712945591

#### RF

In [ ]:
rf_model = RandomForestClassifier(n_estimators = 100, max_depth = 30, random_state = 3)
rf_model.fit(x_train, y_train)

y_pred = rf_model.predict(x_test)
f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

acc: 0.790045766590389
f1: 0.8480331262939959

In [ ]:
rf_model1 = RandomForestClassifier(n_estimators = 500, max_leaf_nodes = 16, max_depth = 30, n_jobs = -1,  random_state = 3)
rf_model1.fit(x_train, y_train)

y_pred = rf_model1.predict(x_test)
f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

acc: 0.7808924485125858
f1: 0.8453774727492934

### GBC

In [ ]:
gbc_model = GradientBoostingClassifier()
gbc_model.fit(x_train, y_train)
y_pred = gbc_model.predict(x_test)
f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

acc: 0.7860411899313501
f1: 0.8451986754966888

### tune

In [ ]:
gbc_model_t = GradientBoostingClassifier(n_estimators=40, random_state=23)
gbc_model_t.fit(x_train, y_train)
y_pred = gbc_model.predict(x_test)
f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

acc: 0.7860411899313501
f1: 0.8451986754966888

## NBC

In [ ]:
nb_model = GaussianNB()
nb_model.fit(x_train, y_train)
y_pred = nb_model.predict(x_test)
f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

acc: 0.7517162471395881
f1: 0.802547770700637

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Logistic

In [ ]:
lg_model = LogisticRegression()
lg_model.fit(x_train, y_train)
y_pred = lg_model.predict(x_test)
f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

acc: 0.7768878718535469
f1: 0.8355817875210793

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## SVM

In [ ]:
svm_model = SVC(probability=True)
svm_model.fit(x_train, y_train)
y_pred = svm_model.predict(x_test)
f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

acc: 0.7860411899313501
f1: 0.8468468468468469

### SGD

In [ ]:
sgd_model = SGDClassifier(random_state=3)
sgd_model.fit(x_train, y_train)
y_pred = sgd_model.predict(x_test)

f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

acc: 0.744279176201373
f1: 0.7952359138799816

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

### Bagging

In [ ]:
from sklearn.ensemble import BaggingClassifier
bag_clf = BaggingClassifier(
    DecisionTreeClassifier(), n_estimators = 500,
    max_samples = 100, bootstrap = True, n_jobs = -1
)
bag_clf.fit(x_train, y_train)
y_pred = bag_clf.predict(x_test)
f11 = accuracy_score(y_test, y_pred)
f12 = f1_score(y_test, y_pred)

print("acc: {0}\nf1: {1}".format(f11, f12))

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_bagging.py:719: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

acc: 0.7780320366132724
f1: 0.8387364921030757

### PIpelines

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
# Un transformador para remover columnas indeseadas
class DropColumns(BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        self.columns = columns

    def fit(self, x, y=None):
        return self

    def transform(self, x):
        # Primero realizamos la cópia del DataFrame 'X' de entrada
        data = x.copy()
        # Retornamos um nuevo dataframe sin las colunmas indeseadas
        return data.drop(labels=self.columns, axis='columns')

In [ ]:
challenge_columns = ['ID', 'CHECKING_BALANCE', 'PAYMENT_TERM', 'CREDIT_HISTORY',
       'LOAN_PURPOSE', 'LOAN_AMOUNT', 'EXISTING_SAVINGS',
       'EMPLOYMENT_DURATION', 'INSTALLMENT_PERCENT', 'SEX', 'OTHERS_ON_LOAN',
       'CURRENT_RESIDENCE_DURATION', 'PROPERTY', 'AGE', 'INSTALLMENT_PLANS',
       'HOUSING', 'EXISTING_CREDITS_COUNT', 'JOB_TYPE', 'DEPENDENTS',
       'TELEPHONE', 'FOREIGN_WORKER', 'ALLOW']

unwanted_columns = list((set(challenge_columns) - set(target)) - set(features)) # Remover todas las colunmas que no son features do nuestro modelo

In [ ]:
drop_columns = DropColumns(unwanted_columns)


# Creando un Pipeline, adicionando nuestro transformador seguido de un modelo de árbol de decisión
skl_pipeline = Pipeline(steps=[('drop_columns', drop_columns), ('classification', model)])

In [ ]:
skl_pipeline

Pipeline(steps=[('drop_columns',
                 DropColumns(columns=['DEPENDENTS', 'EXISTING_CREDITS_COUNT',
                                      'LOAN_PURPOSE', 'FOREIGN_WORKER', 'ID',
                                      'EMPLOYMENT_DURATION', 'PROPERTY', 'AGE',
                                      'EXISTING_SAVINGS', 'OTHERS_ON_LOAN',
                                      'CREDIT_HISTORY',
                                      'CURRENT_RESIDENCE_DURATION',
                                      'INSTALLMENT_PLANS', 'HOUSING',
                                      'JOB_TYPE', 'CHECKING_BALANCE',
                                      'TELEPHONE', 'SEX'])),
                ('classification', DecisionTreeClassifier())])